/**
 * @file
 * Stylesheet for the filter_tooltips module.
 */
.js input.form-filter-tooltips-autocomplete {
  background-image: url(/core/misc/throbber-inactive.png);
  background-position: 100% center; /* LTR */
  background-repeat: no-repeat;
}
.js[dir="rtl"] input.form-filter-tooltips-autocomplete {
  background-position: 0% center;
}
.js input.form-filter-tooltips-autocomplete.ui-autocomplete-loading {
  background-image: url(/core/misc/throbber-active.gif);
  background-position: 100% center; /* LTR */
}
.js[dir="rtl"] input.form-filter-tooltips-autocomplete.ui-autocomplete-loading {
  background-position: 0% center;
}

/* Override the default jQuery UI theme */
.filter-tooltips-ui-autocomplete {
  max-height: 330px;
  overflow: auto;
}
.filter-tooltips-ui-autocomplete.ui-widget {
  font-size: .9em;
}

.filter-tooltips-ui-autocomplete.ui-menu .ui-menu-item {
  list-style: none;
  padding: 5px 7px;
}

.filter-tooltips-ui-autocomplete .ui-menu-item.ui-state-focus {
  margin: 0;
  border: 0;
  border-bottom: 1px solid #bfbfbf;
  background: #0075ba;
  color: #fff;
}

.filter-tooltips-result:not(:last-of-type) {
  border-bottom: 1px solid #bfbfbf;
}

.filter-tooltips-result--group {
  padding: 3px;
  background-color: #e7e7e7;
  border-bottom: 1px solid #bfbfbf;
  text-align: center;
  font-size: 0.9em;
  font-weight: 600;
  color: #555;
}

.filter-tooltips-result--title {
  font-weight: 600;
}

.filter-tooltips-result--description {
  display: block;
  font-size: 0.9em;
  line-height: 1.3;
}

.filter-tooltips-result--description img {
  display: block;
}
