a.filter-tooltips {
  border-bottom: 1px dotted;
  text-decoration: none;
  color: black;
  cursor: help;
}

a.filter-tooltips:visited {
  color: black;
}

a.filter-tooltips:hover {
  text-decoration: none;
}

.filter-tooltips-explanation {
  display: none;
  position: relative;
  background-color: rgb(243, 243, 243);
  padding: 1rem;
}

.filter-tooltips-explanation p:first-child {
  margin-top: 0;
}

.filter-tooltips-explanation p:last-child {
  margin-bottom: 0;
}

.filter-tooltips-explanation.open {
  display: block;
}
